<p id="notice"><%= notice %></p>

<h1>Hps</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hps.each do |hp| %>
      <tr>
        <td><%= link_to 'Show', hp %></td>
        <td><%= link_to 'Edit', edit_hp_path(hp) %></td>
        <td><%= link_to 'Destroy', hp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hp', new_hp_path %>
